Django==4.2.6
django-allauth==0.59.0
django-cors-headers==4.3.1
django-environ==0.11.2
django-rest-framework==0.1.0
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.3.0
Faker==21.0.0
oauthlib==3.2.2
PyJWT==1.7.1
requests==2.31.0
setuptools==68.2.2
tzdata==2023.3
tzlocal==5.2
virtualenv==20.24.6
